body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
}
::-webkit-scrollbar{
    display: none;
}
.cursorHover{
    cursor: pointer;
}
.flexCenter{
    display: flex;
    align-items: center;
    justify-content: center;
}
.appear{
    animation: Appear 1.7s;
}
.defaultBtn{
    font-family: FigtreeRegular;
    font-size: 1em;
    border: none;
    background-color: #196A43;
    color: #FFF;
    height: 2.2em;
    width: 10em;
    border-radius: 7px;
    transition: 0.5s;
    animation: Appear 1.5s;
}
.defaultBtn:hover{
    background-color: #004021;
    color: #fff;
    transition: 0.5s;
}
.aboutUsHeader{
    justify-content: space-between;
    flex-direction: row;
    height: 8vh;
    width: 100vw;
    background-color: #131313;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.aboutUsHeaderLeft{
    color: #FFF;
    font-family: FigtreeMedium;
    font-size: 3.5vh;
    width: 20%;
    height: 100%;
}
.aboutUsHeaderRight{
    width: 40%;
    height: 100%;
    flex-direction: row;
    gap: 2vh;
    color: #FFF;
    font-family: FigtreeRegular;
}
.aboutUsHeaderRight a{
    text-decoration: none;
    color: #fff;
}
.dropdown{
    position: relative;
}
.userIconButton{
    text-decoration: none;
    outline: none;
    background-color: transparent;
    border: none;
}
.dropdownMenu{
    position: absolute;
    z-index: 1;
    left: calc(100% - 2vw);
    top: calc(100% + 1vh);
    opacity: 0;
    background-color: #131313;
    transform: translateY(-10px);
    pointer-events: none;
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}
.dropdown.active > .userIconButton + .dropdownMenu{
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}
.toSettings{
    color: #FFF;
    padding-top: 1vh;
    font-family: FigtreeRegular;
    font-weight: 600;
    font-size: 1.5vh;
    text-decoration: none;
    outline: none;
    border: none;
    background-color: transparent;
}

.logOutBtn{
    color: #FFF; 
    text-decoration: none;
    outline: none;
    border: none;
    background-color: transparent;
    font-family: FigtreeRegular;
    font-weight: 600;
    font-size: 1.5vh;
}



.aboutUsInfo{
    width: 100vw;
    min-height: 50vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.aboutUsInfoContent{
    width: 100%;
    min-height: 100%;
    background-color: transparent;
    flex-direction: column;
    color: #FFF;
    font-family: FigtreeMedium;
    font-size: 2vh;
    
}
.aboutUsInfo h1{
    height: 20%;
    width: 70%;
    color: #196A43;
}
.aboutUsInfo p{
    height: 40%;
    width: 70%;
    color: #131313;
}
.aboutUsInfoBg{
    position: absolute;
    z-index: -1;
    height: 60vh;
    width: 100%;
}
.bgVid{
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(0.3);
}
.contactOurTeam{
    height: 50vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}
.contactLeft{
    flex-direction: column;
    gap: 2vh;
    height: 100%;
    width: 100%;
    background-color: #131313;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.contactLeft h2{
    height: 30%;
    width: 80%;
    color: #196A43;
    font-family: FigtreeMedium;
    font-size: 3.5vh;
}
.contactLeft p{
    color: #FFF;
    font-family: FigtreeMedium;
    font-size: 2vh;
    height: 90%;
    width: 80%;
}
.contactRight{
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    width: 60%;
    height: 100%;
}
.contactBgVid{
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(0.3);
    position: absolute;
    z-index: -1;
}
.whereToFindUs{
    color: #196A43;
    font-family: FigtreeMedium;
    font-size: 3.5vh;
    font-weight: 700;
    height: 10vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.locationiFrame{
    height: 50vh;
    width: 100vw;
    background-color: #131313;
    display: flex;
    flex-direction: row;
}
.forIFrame{
    width: 60%;
    height: 100%;
    background-color: #151515;
}

.locInfo{
    flex-direction: column;
    width: 40%;
    height: 100%;
    color: #FFF;
    font-family: FigtreeMedium;
    font-size: 2vh;
    
}
.locInfo h2{
    width: 80%;
    font-size: 3.5vh;
    color: #196A43;
}
.locInfo p{
    width: 80%;
}
.addressP{
    background-color: #004021;
    width: 25vw;
    height: 5vh;
    transition: 0.7s;
}
.addressP:hover{
    background-color: #00331A;
    transition: 1s;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.addressP a{
    text-decoration: none;
    color: #fff;
}
.footer{
    height: 11vh;
    width: 100vw;
    background-color: #111111;
    flex-direction: row;
    justify-content: space-around;
}
.footer h2{
    color: #FFF;
    font-family: FigtreeRegular;
    font-size: 2vh;
}
.socialsIcons{
    gap: 2vh;
}




.chatButton{
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: row;
    gap: 1vh;
    align-items: center;
    justify-content: center;
    transition: 0.7s;
}
.chatButton:hover{
    transition: 1s;
    scale: 1.1;
}
.chat{
    height: 7.5vh;
    width: 4vw;
    background-color: #131313;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.7s;
    animation: Appear 1.3s;
}
.chat:hover{
    transition: 1s;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.chatInfo{
    display: flex;
    align-items: center;
    color: #196A43;
    font-family: FigtreeRegular;
    font-size: 2vh;
    height: 2vh;
    width: 15vw;
    transition: 1s;
    animation: Appear 1.3s;
}
.chatBox{
    animation: Appear 0.6s;
    height: 50vh;
    width: 25vw;
    background-color: #131313;
    display: none;
    flex-direction: column;
    z-index: 1;
    position: fixed;
    bottom: 3vh;
    right: 1vw;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.chatBoxTop{
    height: 10%;
    max-width: 100%;
    background-color: #004021;
    color: #FFF;
    font-family: FigtreeMedium;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 1vw;
    padding-right: 1vw;
}
.closeChat{

}
.chatBoxMid{
    height: 78%;
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.chatBoxBot{
    height: 12%;
    width: 100%;
    background-color: #151515;
    color: #FFF;
}
