@keyframes socialsSlideIn{
        0%{
            transform: translateX(-150px);
        }
        100%{
            transform: translateX(0);
        }
    }
@keyframes Appear{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}