body{
    margin: 0;
    padding: 0;
}




.cursorHover{
    cursor: pointer;
}
.fade {
    animation-name: fade;
    animation-duration: 1s;
}
.defaultBtn{
    font-family: FigtreeRegular;
    font-size: 1em;
    border: none;
    background-color: #196A43;
    color: #FFF;
    height: 3.5em;
    width: 14em;
    border-radius: 4px;
    transition: 0.6s;
    animation: Appear 1.3s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;
    z-index: 0;
}
.defaultBtn:hover{
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition: 0.8s;
}
.landingPageBg{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -99;
}
.bgPic{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    object-fit: cover;
    filter: brightness(0.45)
}   
.welcomeSection{
    height: 100vh;
    width: 100vw;
    position: relative;
    z-index: 0;
}
.secLeftSide{
    height: 100%;
    width: 62%;
    transform-origin: right bottom;
    transform: skewX(9deg);
    position: absolute;
    z-index: 0;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
#bgVid{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    object-fit: cover;  
    filter: brightness(0.65);
}
.leftSideBg{
    height: 100%;
    width: 100%;
    z-index: 0;
    position: absolute;
    object-fit: cover;
    filter: brightness(0.65) blur(0.7px);;
}
.welcomeContainer{
    height: 100%;
    width: 90%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}
.welcomeBox{
    color: #fff;
    position: absolute;
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: skewX(-9deg);
    gap: 2em;
}
.subBox{
    width: 90%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;

}
.subBox h1{
    position: relative;
    z-index: 0;
    left: 1em;
    font-family: FigtreeMedium;
    font-size: 5em;
    animation: Appear 1.3s;
}
.subBox p{
    height: 55%;
    width: 85%;
    position: relative;
    z-index: 0;
    left: 3em;
    font-family: FigtreeRegular;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    animation: Appear 1.3s;
}
.subBox .imgCarousel{
    height: 55%;
    width: 85%;
    position: relative;
    left: 5em;
    animation: Appear 1.3s;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.carouselImgs{
    width: 100%;
    height: 100%;
}
.carouselImg1{
    display: none;
}
.carouselImg2{
    display: none;
}
.carouselImg3{
    display: none;
}
.carouselImg4{
    display: none;
}
.welcomeBoxBtns{
    display: flex;
    flex-direction: row;
    gap: 2em;
    position: relative;
    left: 5em;
}
.socials{
    display: flex;
    flex-direction: column;
    gap: 5em;
    position: fixed;
    left: 0em;
    top: 18em;
    animation: socialsSlideIn 1.3s;
}
.secRightSide{
    height: 100%;
    width: 50%;
    background-color: transparent;
    position: absolute;
    right: 0;
    z-index: 0;
}
.userLogIn{
    position: absolute;
    z-index: 99;
    right: 5em;
    top: 5em;
    gap: 2em;
    transition: 1s;
    animation: Appear 1.3s;
}
.userAccInfoBox{
    display: block;
    position: absolute;
    right: 3em;
    top: 0em;
    color: #fff;
    font-family: FigtreeRegular;
    height: 1em;
    width: 15em;
    transition: 1s;
    animation: Appear 1.3s;
}
.logInContainer{
    width: 100%;
    height: 100%;
    position: relative;
}
.logInAuthMenuBtnsInner{
    height: 2.5em;
    width: 10em;
}
.authMenu{
    height: 60%;
    width: 50%;
    position: absolute;
    right: 12em;
    top: 22em;
    display: block;
    background-color: transparent;
    border: 1px white;
    text-decoration: none;
    gap: 1em;
}
.authMenuCtrl{
    display: flex;
    align-items: center;
    justify-content: center;
}
.authTitle{
    color: #fff;
    font-family: FigtreeMedium;
    color: #ffffff;
    position: relative;
    font-size: 3em;
}
.insideAuthMenu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    box-sizing: border-box;
    animation: Appear 1.3s;
    backdrop-filter: blur(0.8px)
}
.nameSurname{
    display: flex;
    flex-direction: row;
    gap: 1em;
}
.smallInput{
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px white solid;
    height: 2.5em;
    width: 13em;
    background-color: transparent;
    font-family: FigtreeMedium;
    color: #ffffff;
    padding-left: 1vh;
}
.smallInput::placeholder{
    color: #fff;    
    font-family: FigtreeLight;
}
.smallInput:focus{
    outline: none;
    font-family: FigtreeRegular;
    color: #fff;
    caret-color: whitesmoke;
}
.smallInput:focus::placeholder{
    color: transparent;
}
.bigInput{
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px white solid;
    height: 2.5em;
    width: 27em;
    background-color: transparent;
    font-family: FigtreeMedium;
    color: #ffffff;
    padding-left: 1vh;
}
.bigInput::placeholder{
    font-family: FigtreeLight;
    color: #ffffff;
}
.bigInput:focus{
    outline: none;
    color: #fff;
    font-family: FigtreeRegular;
    caret-color: whitesmoke;
}
.bigInput:focus::placeholder{
    color: transparent;
}
.chat{
    height: 7vh;
    width: 3.5vw;
    background-color: #fff;
    position: fixed;
    right: 2em;
    bottom: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
    animation: Appear 1.3s;
}
.chatInfo{
    display: none;
    position: absolute;
    right: 7em;
    bottom: 5em;
    color: #fff;
    font-family: FigtreeRegular;
    height: 1em;
    width: 15em;
    transition: 1s;
    animation: Appear 1.3s;
}
.logInAuthMenu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    box-sizing: border-box;
    animation: Appear 1.3s;
    backdrop-filter: blur(0.8px);
}
.logInTitle{
    color: #fff;
    font-family: FigtreeMedium;
    color: #ffffff;
    position: relative;
    font-size: 3em;
}
.logInBar{
    height: 60%;
    width: 50%;
    position: absolute;
    right: 12em;
    top: 22em;
    display: none;
    background-color: transparent;
    border: 1px white;
    text-decoration: none;
    gap: 1em;
}
.insideLogInBar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    box-sizing: border-box;
    animation: Appear 1.3s;
    backdrop-filter: blur(0.8px)
}
